## .NET
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
.vscode/

## Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

## Azure
local.settings.json

## OS
.DS_Store
Thumbs.db
